<section class="hero">
  <span class="page-title page-title_first" data-content="About us">About us</span>
  <div class="hero__left">
    <span class="hero__image">
      <img src="images/about-us_hero.png" width="640" height="800" alt="" />
    </span>
  </div>
  <div class="hero__right">
    <div class="section-content">
      <div class="section-content__title">what we do</div>
      <div class="section-content__subtitle">We Are Digital Team of Professionals</div>
      <span class="section-content__text"
        >Our web design company specializes in the professional creation of unique sites and mobile
        applicatoins.</span
      >
      <span class="section-content__info">
        The approach to each new project is individual, we treat equally every customer, regardless
        of the size of the company and its budget. Our web design company specializes in the
        professional creation of unique sites.
      </span>
      <div class="section-content__items">
        <div class="section-content__item">
          <span class="section-content__item-value">365</span>
          <span class="section-content__item-title">Satisfied clients</span>
        </div>

        <div class="section-content__item">
          <span class="section-content__item-value">65</span>
          <span class="section-content__item-title">Team members</span>
        </div>

        <div class="section-content__item">
          <span class="section-content__item-value">638</span>
          <span class="section-content__item-title">Successful projects</span>
        </div>

        <div class="section-content__item">
          <span class="section-content__item-value">15</span>
          <span class="section-content__item-title">Years of experience</span>
        </div>
      </div>
    </div>
  </div>
</section>
