<section class="services">
  <div class="section-content">
    <div class="section-content__title">why us</div>
    <div class="section-content__subtitle">why people choose us</div>
    <span class="section-content__text"
      >We appreciate every client and ready to help with all the issues that they have.</span
    >
    <ul class="section-content__list">
      <li>The approach to each new project is individual, we treat equally every customer.</li>
      <li>
        Our web design company specializes in the professional creation of unique sites and mobile
        applicatoins.
      </li>
      <li>The approach to each new project is individual, we treat equally every customer.</li>
    </ul>
  </div>
  <div class="content-cards">
    <div class="content-cards__item">
      <div class="content-cards__image">
        <img src="images/icon-block.svg" width="50" height="50" alt="" />
      </div>
      <div class="content-cards__title">Huge experience</div>
    </div>

    <div class="content-cards__item">
      <div class="content-cards__image">
        <img src="images/icon-block.svg" width="50" height="50" alt="" />
      </div>
      <div class="content-cards__title">Clean strategy</div>
    </div>

    <div class="content-cards__item">
      <div class="content-cards__image">
        <img src="images/icon-block.svg" width="50" height="50" alt="" />
      </div>
      <div class="content-cards__title">Modern approach</div>
    </div>

    <div class="content-cards__item">
      <div class="content-cards__image">
        <img src="images/icon-block.svg" width="50" height="50" alt="" />
      </div>
      <div class="content-cards__title">strong team</div>
    </div>
  </div>
</section>
