<section class="blog">
  <div class="section-content">
    <div class="section-content__title">blog</div>
    <div class="section-content__wrap">
      <div class="section-content__subtitle">the latest news in digens</div>
      <a href="" class="view-all__button">
        <span>read blog</span>
      </a>
    </div>
  </div>
  <div class="blog__container">
    <div class="blog__item">
      <span class="blog__item-image">
        <img src="images/blog_1.png" width="555" height="300" alt="" />
      </span>
      <div class="blog__item-info">
        <span class="blog__item-author">Laura Poliquine</span>
        <span class="blog__item-date">Nov 17, 2020</span>
        <button class="blog__item-icon"></span>
      </div>
      <a href="" class="blog__item-title">
        The top places for inspiration to have a rest and create something new
      </a>
      <span class="blog__item-arrow"></span>
    </div>
    <div class="blog__item">
      <span class="blog__item-image">
        <img src="images/blog_2.png" width="555" height="300" alt="" />
      </span>
      <div class="blog__item-info">
        <span class="blog__item-author">Laura Poliquine</span>
        <span class="blog__item-date">Nov 17, 2020</span>
        <button class="blog__item-icon"></span>
      </div>
      <a href="" class="blog__item-title">
        how to create beautiful gifts for people you love this new year 
      </a>
      <span class="blog__item-arrow"></span>
    </div>
  </div>
  <span class="page-title page-title_first" data-content="news">our blog</span>
</section>
