<footer class="footer">
  <div class="wrapper">
    <div class="footer-top">
      <a href="/" class="footer__logo">
        <img src="images/footer_logo.svg" width="100" height="30" alt="" />
      </a>
      <nav class="footer-nav">
        <a href="" class="footer-nav__link footer-nav__link_current">Home</a>
        <a href="" class="footer-nav__link">About us</a>
        <a href="" class="footer-nav__link">Services</a>
        <a href="" class="footer-nav__link">portfolio</a>
        <a href="" class="footer-nav__link">Blog</a>
        <a href="" class="footer-nav__link">Contact us</a>
      </nav>
    </div>
    <div class="footer-bottom">
      <div class="footer-bottom__left">
        {{> social-links }}
        <span class="footer-bottom__copyrights">&copy; All rights reserved. Digens 2020</span>
      </div>
      <div class="footer-bottom__right">
        <ul class="footer-bottom__list">
          <li>Address:</li>
          <li>27 Division St, New York, NY 10002, USA</li>
        </ul>
        <ul class="footer-bottom__list">
          <li>Hit Us Up:</li>
          <li>
            <a href="tel:+15471258965">+1 547 125 89 65</a>
          </li>
          <li>
            <a href="mailto:info@sitename.com">info@sitename.com</a>
          </li>
        </ul>
        <ul class="footer-bottom__list">
          <li>Useful Links:</li>
          <li>
            <a href="">Help and Support</a>
          </li>
          <li>
            <a href="">Careers</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
