<section class="hero">
	<div class="hero__col hero__col_left">
		<span class="hero__image">
			<img src="../public/images/hero-main.svg" width="610" height="1000" alt="">
		</span>
		<span class="page-title page-title_first" data-content="Digital">Digital</span>
		<span class="page-title page-title_second" data-content="products">products</span>
		
	</div>
	<div class="hero__col hero__col_right">
		<div class="hero__row">
			<div class="section-content">
				<div class="section-content__title">more than obvious</div>
				<div class="section-content__subtitle">Digital products for your brand</div>
				<span class="section-content__text">Our team is waiting for a new challenge, so we’re ready to make a cool brand.</span>
				<button class="section-content__button">Get more</button>
			</div>
			<div class="slider__buttons">
				<div class="button-arrow button-arrow__next"></div>
				<div class="button-arrow button-arrow__prev"></div>
			</div>
		</div>
		<div class="hero__row">
			<div class="slider__pagination">
				<div class="slider__pagination-item slider__pagination-item_active">01.</div>
				<div class="slider__pagination-item">02.</div>
				<div class="slider__pagination-item">03.</div>
			</div>
			<div class="slider__scroll">
				<span>Scroll</span>
			</div>
		</div>
	</div>
</section>