<section class="intouch">
  <div class="intouch__left">
    <div class="intouch__title">Always Be in touch</div>
    <div class="intouch__text">
      Subscribe if you want always to be known about all the news and available propositions.
    </div>
  </div>
  <form action="/" class="intouch__form">
    <div class="intouch__form-wrap">
      <label for="email" class="intouch__form_email">
        <input type="email" id="email" placeholder="Enter your email" />
      </label>
      <label for="submit" class="intouch__form_submit">
        <input type="submit" id="submit" value="Subscribe" />
      </label>
    </div>
    <div class="intouch__form_checkbox">
      <input type="checkbox" id="checkbox" class="" />

      <label for="checkbox" class="">
        <span>I accept all</span>
        <span>Terms and Conditions</span>
      </label>
    </div>
  </form>
</section>
