<div class="mobile-menu">
  <button class="mobile-menu__close-button"></button>
  <div class="mobile-menu__container">
    <a href="/" class="mobile-menu__link mobile-menu__link_current">Home</a>
    <a href="/about-us.html" class="mobile-menu__link">About us</a>
    <a href="/services.html" class="mobile-menu__link">Services</a>
    <a href="" class="mobile-menu__link">Service detail</a>
    <a href="" class="mobile-menu__link">Contact us</a>
  </div>
  <div action="" class="mobile_menu__search">
    <input type="search" placeholder="Search" class="mobile_menu__search-input" />
    <input type="submit" value="" class="mobile_menu__search-submit" />
  </div>
</div>
