<section class="price">
  <div class="section-content">
    <div class="section-content__title">prices</div>
    <div class="section-content__subtitle">How much it costs</div>
  </div>
  <div class="price__container">
    <div class="price__item">
      <div class="price__item-title" data-content="Basic">Basic</div>
      <div class="price__item-value">
        <span class="price__item-value_currency">$</span>
        <span class="price__item-value_main">499</span>
        <span class="price__item-value_coins">.99</span>
        <span class="price__item-value_period">per month</span>
      </div>
      <div class="price__item-info">
        The approach to each new project is individual, we treat equally every customer.
      </div>
      <ul class="price__item-list">
        <li>Customized Store Design</li>
        <li>Inquiry Form</li>
        <li>Responsive Design</li>
        <li>Subscription Pages</li>
      </ul>

      <div class="price__item-button">Buy Now</div>
    </div>

    <div class="price__item">
      <div class="price__item-title" data-content="Basic">Basic</div>
      <div class="price__item-value">
        <span class="price__item-value_currency">$</span>
        <span class="price__item-value_main">499</span>
        <span class="price__item-value_coins">.99</span>
        <span class="price__item-value_period">per month</span>
      </div>
      <div class="price__item-info">
        The approach to each new project is individual, we treat equally every customer.
      </div>
      <ul class="price__item-list">
        <li>Customized Store Design</li>
        <li>Inquiry Form</li>
        <li>Responsive Design</li>
        <li>Subscription Pages</li>
      </ul>
      <div class="price__item-button">Buy Now</div>
    </div>

    <div class="price__item">
      <div class="price__item-title" data-content="Basic">Basic</div>
      <div class="price__item-value">
        <span class="price__item-value_currency">$</span>
        <span class="price__item-value_main">499</span>
        <span class="price__item-value_coins">.99</span>
        <span class="price__item-value_period">per month</span>
      </div>
      <div class="price__item-info">
        The approach to each new project is individual, we treat equally every customer.
      </div>
      <ul class="price__item-list">
        <li>Customized Store Design</li>
        <li>Inquiry Form</li>
        <li>Responsive Design</li>
        <li>Subscription Pages</li>
      </ul>
      <div class="price__item-button">Buy Now</div>
    </div>
  </div>
</section>
