<section class="products">
  <div class="products__left">
    <span class="products__image">
      <img src="images/product-image.png" width="640" height="800" alt="" />
    </span>
    <span class="page-title page-title_first" data-content="Digital">Digital</span>
  </div>
  <div class="products__right">
    <div class="section-content">
      <div class="section-content__title">what we do</div>
      <div class="section-content__subtitle">we develop digital products</div>
      <span class="section-content__text"
        >We appreciate every client and ready to help with all the issues that they have. Let’s
        figure out what we can do.</span
      >
      <div class="section-content__items">
        <div class="section-content__item">
          <div class="section-content__chart" style="--p: 63">
            <span class="section-content__chart-text">
              <span>63</span>
              <span>%</span>
            </span>
          </div>
          <span class="section-content__item-title">Branding</span>
          <span class="section-content__item-text"
            >This is a repetition in plastic forms, lines and colors of</span
          >
        </div>

        <div class="section-content__item">
          <div class="section-content__chart" style="--p: 87">
            <span class="section-content__chart-text">
              <span>87</span>
              <span>%</span>
            </span>
          </div>
          <span class="section-content__item-title">Branding</span>
          <span class="section-content__item-text"
            >This is a repetition in plastic forms, lines and colors of</span
          >
        </div>

        <div class="section-content__item">
          <div class="section-content__chart" style="--p: 85">
            <span class="section-content__chart-text">
              <span>85</span>
              <span>%</span>
            </span>
          </div>
          <span class="section-content__item-title">Branding</span>
          <span class="section-content__item-text"
            >This is a repetition in plastic forms, lines and colors of</span
          >
        </div>

        <div class="section-content__item">
          <div class="section-content__chart" style="--p: 96">
            <span class="section-content__chart-text">
              <span>99</span>
              <span>%</span>
            </span>
          </div>
          <span class="section-content__item-title">Branding</span>
          <span class="section-content__item-text"
            >This is a repetition in plastic forms, lines and colors of</span
          >
        </div>
      </div>
    </div>
  </div>
</section>
