<section class="services">
	<div class="section-content">
		<div class="section-content__title">our services</div>
		<div class="section-content__subtitle">we develop digital products</div>
		<span class="section-content__text">You can discover all our services by clicking the link below.</span>
		<a href="" class="view-all__button">
			<span>view all</span>
		</a>
	</div>
	<div class="content-cards">
		<div class="content-cards__item">
			<div class="content-cards__image">
				<img src="../public/images/icon-block.svg" width="50" height="50" alt="">
			</div>
			<div class="content-cards__title">Web Development</div>
			<span class="content-cards__text">
				Our developers are carefully considering how your product should work while mainta...
			</span>
		</div>
		
		<div class="content-cards__item">
			<div class="content-cards__image">
				<img src="../public/images/icon-block.svg" width="50" height="50" alt="">
			</div>
			<div class="content-cards__title">Web Development</div>
			<span class="content-cards__text">
				Our developers are carefully considering how your product should work while mainta...
			</span>
		</div>

		<div class="content-cards__item">
			<div class="content-cards__image">
				<img src="../public/images/icon-block.svg" width="50" height="50" alt="">
			</div>
			<div class="content-cards__title">Web Development</div>
			<span class="content-cards__text">
				Our developers are carefully considering how your product should work while mainta...
			</span>
		</div>
	</div>
</section>