<section class="photos-section">
  <div class="section-content">
    <div class="section-content__title">digital experts</div>
    <div class="section-content__wrap">
      <div class="section-content__subtitle">Our creative team</div>
      <div class="slider-buttons">
        <button class="slider-button slider-button__prev" disabled></button>
        <button class="slider-button slider-button__next"></button>
      </div>
    </div>
  </div>
  <div class="photos-section__container">
    <span class="photos-section__image">
      <img src="images/slider_1.png" width="480" height="680" alt="" />
    </span>
    <span class="photos-section__image">
      <img src="images/slider_2.png" width="480" height="680" alt="" />
    </span>
    <span class="photos-section__image">
      <img src="images/slider_3.png" width="480" height="680" alt="" />
    </span>
  </div>
  <span class="page-title page-title_first" data-content="experts">experts</span>
</section>
