@import './mixins.scss';
.hero {
	display: flex;

	&__col {
		width: 50%;

		&_left {
			height: 1000px;
			background:
				url(/images/hero-digital_s.svg) -20px 100%,
				url(/images/hero-digital_l.svg) 30px 100%,
				url(/images/hero-products_s.svg) 68% 0,
				url(/images/hero-products_l.svg) 82% 0,
				url(/images/hero-main.svg);
			background-repeat: no-repeat;

			@include breakpoint($tab_1248) {
				background:
				url(/images/hero-digital_s.svg) -20px 100%,
				url(/images/hero-digital_l.svg) 30px 100%,
				url(/images/hero-products_s.svg) 100% 100%,
				url(/images/hero-products_l.svg) 82% 0,
				url(/images/hero-main.svg);
			background-repeat: no-repeat;
			}

			@include breakpoint($tab_1024) {
        display: none;
      }
		}

		&_right {
			@include breakpoint($tab_1248) {
				padding-left: 40px;
			}

			@include breakpoint($tab_1024) {
        width: 100%;
				padding-left: 0;
      }
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.section-content {
		padding: 320px 0 207px;
	}

	.slider {

		&__buttons {

			@include breakpoint($tab_1024) {
        padding-left: 20px;
      }
			
			
			.button-arrow {
				&__next {
					margin-bottom: 40px;
				}
			}
		}

		&__pagination {
			display: flex;
			padding-left: 80px;
			padding-bottom: 90px;

			&-item {
				position: relative;
				display: flex;
				align-items: center;
				font-family: 'Mulish', sans-serif;
				font-size: 1.125rem;
				font-weight: 600;
				line-height: 100%;
				color: $color-text-on-dark;

				&::after {
					content: '';
					position: relative;
					margin: 0 15px;
					display: block;
					width: 10px;
					height: 1px;
					background-color: #fff;
					opacity: 0.2;
				}

				&_active {
					font-size: 1.5rem;
					font-family: 'Mulish', sans-serif;
					font-size: 24px;
					font-weight: 600;
					line-height: 100%;

					&::after {
						width: 70px;
						opacity: 0.5;
					}
				}
			}
		}

		&__scroll {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			
			&::after {
				content: '';
				position: relative;
				display: block;
				margin-top: 12px;
				width: 1px;
				height: 10px;
				opacity: 0.2;
				background: $color-text-on-dark;
			}

			span {
				font-family: 'Mulish', sans-serif;
				font-size: 0.875rem;
				line-height: 160%;
				color: #FFF;
				writing-mode: vertical-rl;
				transform: rotate(180deg);
			}
		}

		&__buttons,
		&__scroll {
			padding-right: 98px;

			@include breakpoint($tab_1248) {
				padding-right: 40px;
			}
		}
	}

	


}