.social-links {
  display: flex;
  align-items: center;

  &__item {
    position: relative;
    display: flex;
    margin-right: 0.875rem;
    align-items: center;
    font-family: 'Mulish', sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 160%;
    color: #fff;
    opacity: 0.5;

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      opacity: 1;
    }

    &::after {
      content: '';
      position: relative;
      display: block;
      margin-left: 0.875rem;
      width: 10px;
      height: 1px;
      min-width: 10px;
      opacity: 0.2;
      background-color: #fff;
    }
  }
}
