$color-background: #0D0F16;
$color-red: #FF455B;
$color-text-on-dark: #989CAC;

$gradient-button: linear-gradient(90deg, #FF455B 0%, #FF7245 100%);

$tab_1248: 1248px;
$tab_1024: 1024px;
$tab_360: 360px;