$color-background: #0d0f16;
$color-red: #ff455b;
$color-text-on-dark: #989cac;
$color-text: #26272c;

$gradient-button: linear-gradient(90deg, #ff455b 0%, #ff7245 100%);

$tab_1918: 1918px;
$tab_1496: 1496px;
$tab_1360: 1360px;
$tab_1248: 1248px;
$tab_1024: 1024px;
$tab_600: 600px;
$tab_360: 360px;
